.my_value {
    padding-top: 15px;
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-gap: 10px;
}
  
.my_value img {
    width: 100%;
    border-radius: 50%;
    transform: scale(0.9);
    transition: all 0.5s;
    box-shadow: 0px 0px 5px 0px;
}

.my_value img:hover {
    transform: scale(1) translate3d(0px, -10px, 0px);
    box-shadow: 0px 10px 10px 0px;
}

.my_value div {
    display: flex;
    flex-direction: column;
}

.my_value div h1 {
    font-size: 36px;
    padding-left: 10px;
    display: block;
    margin: 10px 0px;
    transform: scale(0.9);
    cursor: default;
    transition: all 0.5s;
    text-shadow: 0px 1px 5px black;
}

.my_value div h1:hover {
    transform: scale(1) translate3d(0px, -1px, 0px);
    text-shadow: 0px 10px 6px black;
}