@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Montserrat&display=swap');

:root {
  --header-font: 'Caveat Brush', cursive;
  --main-font: 'Montserrat', sans-serif;
}

* {
  font-family: var(--main-font);
}

.app {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-areas: 'header' 'cont';
  grid-gap: 5px;
}