@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Montserrat+Alternates:ital,wght@1,500&display=swap');

:root {
  --header-font: 'Montserrat Alternates', sans-serif;
  --main-font: 'Caveat', cursive;
}

* {
  font-family: var(--main-font);
}

.App {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;
  grid-template-areas: 'h h' 'n c';
}

.App div {
  border-radius: 5px;
}

.App div a {
  text-decoration: none;
  color: black;
}

.App .App_content {
  grid-area: c;
}