.post {
    border: 1px solid black;
    border-radius: 5px;
    max-width: 788px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.postText {
    max-width: 100%;
    white-space: pre-wrap;
    line-height: 28px;
    padding: 0px 5px;
}