.dialog {
    padding: 5px 10px;
    background-color: rgb(230, 230, 230);
}

.newMessage {
    width: 100%;
    height: 100px;
    resize: none;
    outline: none;
    border-radius: 5px;
}

.sendMessage {
    width: 150px;
    height: 30px;
    margin-top: 5px;
}