.nav {
    border-radius: 8px;
    padding: 0px 0px;
    font-size: 24px;
    border: 2px solid black;
    max-height: fit-content;
    max-width: inherit;
    background-color: white;
  }
  
  .nav div {
    box-sizing: content-box;
    display: inline-block;
    width: 164px;
  }
  
  .nav div a {
    text-decoration: none;
    color: black;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 100%;
    text-align: center;
  }
  
  .nav div a:hover {
    background-color: black;
    color: white;
  }
  
  .nav div a.active {
    background-color:rgb(150, 150, 150);
    color: white;
  }

  
  .nav .setting {
    margin-top: 30px;
  }